body {
  color: var(--ic-color-primary-text);
}

.gatsby-highlight {
  display: grid;
}

ic-alert {
  margin-bottom: var(--ic-space-lg);
}

.force > p:first-of-type {
  font-weight: 600;
  font-size: 19;
  line-height: 2.375rem;
  margin-bottom: var(--ic-space-lg);
  margin-top: 2.25rem;
  letter-spacing: -0.1;
}

.force > p:first-of-type .gatsby-resp-image-wrapper {
  float: right;
  width: 50%;
  margin: 0 0 var(--ic-space-xl) var(--ic-space-xl);
}

.force video {
  margin-bottom: var(--ic-space-lg);
}

.no-padding {
  padding: 0;
}

.storybook {
  font-size: 0.875rem;
}

.page-container {
  flex: 1;
  margin-bottom: calc(var(--ic-space-xxl) + var(--ic-space-lg));
}

#page-section-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: fit-content(100%) 1fr;
  grid-template-areas:
    "sidenav"
    "content";
}

.content-container {
  grid-area: content;
  max-width: 50rem;
}

@media screen and (max-width: 768px) {
  .page-container {
    margin-bottom: var(--ic-space-xxl);
  }

  .content-container {
    padding: 0;
    width: 100%;
  }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
  .page-container {
    margin-bottom: 3.75rem;
  }
}

@media screen and (min-width: 769px) and (max-width: 1200px) {
  .content-container {
    width: calc(100% - var(--ic-space-xl));
  }
}

@media screen and (min-width: 1201px) {
  #page-section-container {
    grid-template-areas: "content content sidenav" "content content sidenav";
  }
}

@media screen and (min-width: 1201px) and (max-width: 1384px) {
  .content-container {
    width: calc(100% - var(--ic-space-lg));
  }
}

@media screen and (min-width: 1385px) {
  .content-container {
    width: 50rem;
  }
}
