.page-content-container {
  display: grid;
  grid-template-areas:
    "sidebar"
    "content";
}

.subsection-nav {
  grid-area: sidebar;
  margin-top: var(--ic-space-xs);
}

.sticky {
  position: sticky;
  top: 0;
  z-index: var(--ic-z-index-sticky-page-header);
}

.page-content {
  grid-area: content;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 576px) {
  .subsection-nav {
    background-color: var(--ic-architectural-40);
    margin: calc(-1 * var(--ic-space-xs)) calc(-1 * var(--ic-space-xs));
    padding: var(--ic-space-md) var(--ic-space-xs);
  }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
  .subsection-nav {
    background-color: var(--ic-architectural-40);
    margin: calc(-1 * var(--ic-space-xs)) calc(-1 * var(--ic-space-md));
    padding: var(--ic-space-md);
  }
}

@media screen and (max-width: 768px) {
  .page-content-container {
    display: flex;
    flex-direction: column;
    grid-template-columns: auto;
    grid-template-areas:
      "sidebar"
      "content"
      "content";
  }
}

@media screen and (min-width: 769px) {
  #main-container {
    margin: 0;
    border-right: 0;
  }

  .subsection-nav {
    margin-top: 0;
    border-right: 1px solid var(--ic-architectural-300);
  }
}

@media screen and (min-width: 769px) and (max-width: 1200px) {
  .page-content-container {
    grid-template-columns: 16rem auto;
    grid-template-areas:
      "sidebar content"
      "sidebar content"
      "sidebar content";
  }
}

@media screen and (min-width: 1201px) {
  .page-content-container {
    grid-template-columns: 16rem auto;
    grid-template-areas:
      "sidebar content"
      "sidebar content"
      "sidebar content";
  }
}
