.cookies-card {
  border: 1px solid var(--ic-color-border-neutral-default);
}

.ic-theme-dark .cookies-card {
  border: 1px solid var(--ic-color-border-neutral-white);
}

.cookies-card tr:last-child td {
  border: none;
}

.cookies-card td {
  padding: var(--ic-space-md) !important;
}

.cookies-card caption,
.cookies-table caption {
  position: absolute;
  left: -9999px;
}
