.card-container {
  grid-gap: var(--ic-space-lg);
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  list-style: none;
  margin-left: 0;
  margin-top: var(--ic-space-xs);
}

ic-page-header[heading="Components"] + ic-section-container .content-container {
  width: 100%;
  max-width: none;
}

.card-container > * {
  flex-grow: 1;
}

.card-container * {
  height: 100%;
}

@media screen and (max-width: 576px) {
  .card-container {
    grid-template-columns: auto;
    margin-left: calc(var(--ic-space-xs) * -1);
    margin-right: calc(var(--ic-space-xs) * -1);
    grid-gap: var(--ic-space-xs);
  }
}

@media screen and (min-width: 577px) and (max-width: 993px) {
  .card-container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
  .card-container {
    margin: var(--ic-space-xs) calc(var(--ic-space-sm) * -1) var(--ic-space-xl);
  }
}

@media screen and (min-width: 577px) and (max-width: 1200px) {
  .card-container {
    margin-bottom: var(--ic-space-lg);
    grid-gap: var(--ic-space-md);
  }
}
