ic-typography .permalink svg {
  opacity: 0;
  transition: var(--ic-easing-transition-fast);
}

ic-typography:hover .permalink svg,
.permalink:focus svg {
  opacity: 1;
}

.title-container {
  display: inline;
}

.permalink {
  transition: var(--ic-easing-transition-fast);
  width: 2.625rem;
  padding: 0.625rem 0 0 0 !important;
  height: 2.625rem;
  border-radius: 50%;
  text-align: center;
  box-sizing: border-box;
  margin-left: var(--ic-space-sm);
  padding: 0 var(--ic-space-xxxs);
  display: inline-flex;
  justify-content: center;
  flex-shrink: 0;
  color: var(--ic-action-default);
}

.permalink:hover {
  background: var(--ic-action-default-bg-hover);
}

.permalink:active {
  background: var(--ic-action-default-bg-active);
}

.permalink:focus {
  box-shadow: var(--ic-border-focus);
  outline: none;
}

.permalink > svg {
  vertical-align: top;
}

@media (forced-colors: active) {
  .permalink:focus {
    outline: var(--ic-hc-focus-outline);
  }
}
