:root,
ic-theme,
.ic-theme-light {
  --ic-do-color: var(--ic-status-success-default);
  --ic-dont-color: var(--ic-status-error-default);
  --ic-caution-color: var(--ic-status-warning-default);
  --ic-do-dont-caution-icon-color: var(--ic-color-text-primary-dark);
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    --ic-do-color: var(--ic-status-success-contrast);
    --ic-dont-color: var(--ic-status-error-contrast);
    --ic-caution-color: var(--ic-status-warning-contrast);
    --ic-do-dont-caution-icon-color: var(--ic-color-text-primary-light);
  }
}

.ic-theme-dark {
  color-scheme: dark;
  --ic-do-color: var(--ic-status-success-contrast);
  --ic-dont-color: var(--ic-status-error-contrast);
  --ic-caution-color: var(--ic-status-warning-contrast);
  --ic-do-dont-caution-icon-color: var(--ic-color-text-primary-light);
}

.none {
  position: relative;
  margin-bottom: var(--ic-space-lg);
  display: inline-block;
}

.caution {
  border-top: var(--ic-space-xs) solid var(--ic-caution-color);
  position: relative;
  margin-bottom: var(--ic-space-lg);
  display: inline-block;
}

.dont {
  border-top: var(--ic-space-xs) solid var(--ic-dont-color);
  position: relative;
  margin-bottom: var(--ic-space-lg);
  display: inline-block;
}

.do {
  border-top: var(--ic-space-xs) solid var(--ic-do-color);
  position: relative;
  margin-bottom: var(--ic-space-lg);
  display: inline-block;
}

.do-dont-caution-containers {
  position: absolute;
  top: var(--ic-space-xs);
  left: var(--ic-space-xs);
  height: var(--ic-space-xl);
  width: var(--ic-space-xl);
  color: var(--ic-do-dont-caution-icon-color);
  border: var(--ic-space-xxxs) solid var(--ic-do-dont-caution-icon-color);
  border-radius: 50%;
  box-shadow: var(--ic-elevation-overlay);
  text-align: center;
  z-index: 1;
}

.do-dont-caution-containers > svg {
  height: var(--ic-space-lg);
  width: var(--ic-space-lg);
}

.caution-icon {
  background: var(--ic-caution-color);
}

.caution-icon > svg {
  margin-top: 0.188rem;
}

.dont-icon {
  background: var(--ic-dont-color);
}

.dont-icon > svg {
  margin-top: var(--ic-space-xxs);
}

.do-icon {
  background: var(--ic-do-color);
}

.do-icon > svg {
  margin-top: var(--ic-space-xxs);
}

.image-wide {
  max-width: 100%;
  margin: 0 0 0.313rem 0;
}
