.attribute-table {
  display: table;
  border: 1px solid var(--ic-color-border-neutral-default);
  border-radius: var(--ic-border-radius);
}

.header {
  background-color: var(--ic-architectural-40);
}

.ic-theme-dark .header {
  background-color: var(--ic-color-background-secondary-dark);
}

.cell {
  padding: var(--ic-space-md) calc(var(--ic-space-lg) / 2);
}

.cell:last-child {
  padding-right: var(--ic-space-lg);
}

.cell:first-child {
  padding-left: var(--ic-space-lg);
}

.row {
  display: table-row;
}

.row:last-child > td {
  border-bottom: none;
}

@media screen and (max-width: 576px) {
  .attribute-table {
    display: none;
  }
}
