.attribute-table {
  display: table;
  border: 1px solid var(--ic-architectural-300);
  border-radius: var(--ic-border-radius);
}

.header {
  background-color: var(--ic-architectural-40);
}

.cell {
  padding: var(--ic-space-md) calc(var(--ic-space-lg) / 2);
}

.cell:last-child {
  padding-right: var(--ic-space-lg);
}

.cell:first-child {
  padding-left: var(--ic-space-lg);
}

.row {
  display: table-row;
}

.row:last-child > td {
  border-bottom: none;
}

@media screen and (max-width: 992px) {
  .attribute-table {
    display: none;
  }
}
