.cards-container {
  margin: 0;
  display: grid;
  grid-gap: var(--ic-space-lg);
  list-style: none;
}

.explore-cards {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.explore-cards ic-card,
.resources-cards ic-card {
  height: 100%;
}

.explore-cards div.icon {
  height: auto;
  width: auto;
}

.explore-cards div.card {
  height: auto;
}

.explore-cards div.card-header {
  width: fit-content;
}

.resources-cards {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.divider {
  padding: 0;
  margin: 0;
  border: none;
  height: 1;
  background-color: var(--ic-architectural-300);
}

.card-icon {
  color: var(--ic-action-default);
}

.ic-typography[data-class="text-content"] {
  max-width: 54rem;
}

.hero-card {
  color: var(--ic-theme-text);
  width: 18.75rem;
}

ic-alert ic-link {
  padding-right: var(--ic-space-xs);
}

.hero .ic-typography-h4 .MuiSvgIcon-root {
  height: var(--ic-space-lg);
  width: var(--ic-space-lg);
  vertical-align: top;
}

.tabs ic-tab-group,
.tabs ic-tab-panel {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

#get-started-link {
  --ic-hyperlink-contrast-visited: var(--ic-architectural-white);
}

#get-started-link a {
  color: var(--ic-architectural-white);
}

.get-started-arrow {
  margin-left: var(--ic-space-xxs);
  vertical-align: middle;
}

@media screen and (max-width: 576px) {
  .explore-cards {
    grid-template-columns: auto;
  }

  .resources-cards {
    grid-template-columns: auto;
  }

  .homepage {
    padding-bottom: var(--ic-space-xl);
  }

  .section {
    margin: var(--ic-space-md) 0;
  }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
  .homepage {
    padding-bottom: var(--ic-space-lg);
  }

  .section {
    margin: var(--ic-space-lg) 0;
  }
}

@media screen and (min-width: 577px) and (max-width: 992px) {
  .explore-cards {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
  .homepage {
    padding-bottom: calc(var(--ic-space-lg) + var(--ic-space-xxs));
  }
}

@media screen and (min-width: 769px) and (max-width: 1200px) {
  .section {
    margin: var(--ic-space-xl) 0;
  }
}

@media screen and (min-width: 993px) and (max-width: 1200px) {
  .homepage {
    padding-bottom: calc(var(--ic-space-xl) + var(--ic-space-xs));
  }
}

@media screen and (min-width: 1201px) {
  .homepage {
    padding-bottom: var(--ic-space-xl);
  }

  .section {
    margin: calc(var(--ic-space-xl) + var(--ic-space-xs)) 0;
  }
}
