.typography-container {
  border: 1px solid var(--ic-architectural-400);
  padding: var(--ic-space-lg) var(--ic-space-lg) 0;
  border-radius: var(--ic-border-radius);
}

ic-typography[data-class="additional-padding"],
ic-button[data-class="additional-padding"] {
  margin-bottom: var(--ic-space-xs);
}

.caption {
  opacity: 1;
  margin-bottom: 0.375rem;
}

ic-typography[data-class="internal-caption"] {
  display: block;
  margin-bottom: var(--ic-space-xl);
}
