#skip-main-content-link {
  position: absolute;
  left: -9999px;
}

#skip-main-content-link:hover {
  text-decoration: none;
}

#skip-main-content-link:focus {
  background: var(--ic-architectural-white);
  position: absolute;
  z-index: 100;
  top: var(--ic-space-sm);
  left: var(--ic-space-sm);
  padding: var(--ic-space-sm);
}

.index {
  padding: 0 0 0 0 !important;
  max-width: none !important;
}

.content {
  width: 100%;
  margin: 0 auto;
  padding-bottom: var(--ic-space-lg);
  flex: 1;
  box-sizing: border-box;
}

.main-page-container {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - var(--ic-space-lg));
}

.main-page-container ic-top-navigation ic-section-container {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.footer svg * {
  fill: var(--ic-architectural-white) !important;
}

.route-announcer {
  position: absolute;
  top: 0;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.link-text {
  position: absolute;
  left: -9999px;
}

.logo-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--ic-space-xl);
}

.logo-wrapper svg {
  height: var(--ic-space-xxl);
  width: auto;
}

.logo-wrapper > ic-footer-link {
  margin-right: 0;
  border-radius: var(--ic-border-radius);
}

.logo-wrapper > ic-footer-link:focus {
  box-shadow: var(--ic-border-focus);
}

.logo-wrapper > ic-footer-link:focus-visible {
  outline: none;
}

.homepage-wrapper {
  flex: 1;
}

ic-top-navigation .search-actions-container form {
  display: none;
}

ic-top-navigation form {
  width: 20rem;
}

ic-top-navigation form.not-loaded {
  display: none;
}

@media screen and (max-width: 1200px) {
  .content {
    padding: var(--ic-space-md);
  }
}

@media screen and (max-width: 992px) {
  .logo-wrapper svg {
    height: 2.375rem;
  }

  .logo-wrapper {
    gap: var(--ic-space-lg);
  }

  ic-top-navigation .navigation-tabs,
  ic-top-navigation .app-status,
  ic-top-navigation .app-version {
    display: none;
  }

  ic-top-navigation .top-panel-container {
    max-height: 3.75rem;
  }

  ic-top-navigation h1 {
    font-size: 0.7em !important;
  }

  ic-top-navigation form {
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .logo-wrapper {
    gap: var(--ic-space-lg);
  }

  .logo-wrapper svg,
  .logo-wrapper > ic-footer-link {
    height: 4rem;
  }

  .logo-wrapper > ic-footer-link {
    overflow: hidden;
  }

  .logo-wrapper > ic-footer-link:nth-child(1) svg {
    transform: translate(-0.219rem, var(--ic-space-xxxs));
  }

  .logo-wrapper > ic-footer-link:nth-child(1) {
    width: 4.25rem;
  }

  .logo-wrapper > ic-footer-link:nth-child(2) {
    width: 3.25rem;
  }

  .logo-wrapper > ic-footer-link:nth-child(2) svg {
    transform: translate(0, 1px);
  }

  .logo-wrapper > ic-footer-link:nth-child(3) {
    width: 2.875rem;
  }

  .logo-wrapper > ic-footer-link:nth-child(3) svg {
    transform: translate(0, -1px);
  }
}
