.code {
  font-family: "Courier New", sans-serif;
  display: inline-table;
  background: rgba(0, 0, 0, 0.02);
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  padding: 0 0.438rem;
  color: black;
  font-weight: 500;
}
