.circle {
  height: var(--ic-space-lg);
  width: var(--ic-space-lg);
  border-radius: 50%;
  border: 1px solid var(--ic-color-border-neutral-default);
}

.palette {
  display: flex;
  align-items: center;
  gap: var(--ic-space-xs);
  border-radius: var(--ic-border-radius);
  padding: var(--ic-space-xs);
  background-color: var(--ic-color-background-primary-light);
}

.palette.dark {
  background-color: var(--ic-architectural-900);
}

@media screen and (min-width: 1201px) {
  .color-circles {
    display: flex;
    gap: var(--ic-space-xs);
  }
}

@media (forced-colors: active) {
  .circle {
    forced-color-adjust: none;
  }
}
