.color-swatch {
  padding: var(--ic-space-xs);
  border-radius: var(--ic-border-radius);
  background-color: var(--ic-color-page-background);
}

.color-swatch > div {
  height: var(--ic-space-lg);
  width: calc(var(--ic-space-lg) * 3);
  border-radius: var(--ic-border-radius);
  border: 1px solid var(--ic-color-border-neutral-default);
}

@media (forced-colors: active) {
  .color-swatch > div {
    forced-color-adjust: none;
  }
}
