.circle {
  height: 2.375rem;
  width: 2.375rem;
  border-radius: 50%;
  padding: 0 !important;
}

.circle-border {
  border: 1px solid var(--ic-color-border-neutral-black);
}

.ic-theme-dark .circle-border {
  border: 1px solid var(--ic-color-border-neutral-white);
}

.color-class ic-typography {
  font-family: monospace, monospace !important;
}

.color-row {
  padding: var(--ic-space-sm) 0;
  display: flex;
  align-items: center;
}

.deprecation {
  align-items: inherit;
}

.deprecation .color-name {
  margin-top: 0.625rem;
}

.deprecation .color-class {
  margin-top: 0.425rem;
}

.color-row div {
  padding: 0 0.375rem;
}

.color-circle {
  flex-basis: 3.75rem;
}

.color-name {
  flex-basis: 30%;
}

.color-token {
  flex-basis: 40%;
}

.deprecation-tag {
  margin-top: var(--ic-space-xxs);
}

@media screen and (max-width: 576px) {
  .circle {
    width: 1.5rem;
    height: 1.5rem;
  }

  .color-circle {
    flex-basis: 0.5rem;
  }

  .color-row div {
    padding-right: 0;
  }

  .color-token {
    flex-basis: 30%;
  }

  .color-name {
    flex-basis: 25%;
  }
}

@media (forced-colors: active) {
  .circle {
    forced-color-adjust: none;
  }
}

@media (forced-colors: active) and (prefers-color-scheme: dark) {
  .circle {
    border: 1px solid var(--ic-architectural-white);
  }
}
