.icons-container {
  display: flex;
  box-shadow: 0 -1px 0.188rem rgb(0 0 0 / 12%), 0 0.188rem 1px rgb(0 0 0 / 15%),
    0 0.188rem 0.375rem rgb(0 0 0 / 11%);
}

.panel-container {
  padding: var(--ic-space-sm);
}

.icon-group-links {
  min-width: 12.5rem;
  background: var(--ic-architectural-20);
  border-right: 1px solid var(--ic-architectural-200);
  padding: calc(var(--ic-space-md) + var(--ic-space-sm)) var(--ic-space-sm) var(--ic-space-md) var(--ic-space-lg);
  display: flex;
  flex-direction: column;
  gap: var(--ic-space-md);
  /* padding-top: calc(var(--ic-space-md) + var(--ic-space-sm)); */
}

.icon-group-links:first-child {
  color: var(--ic-color-secondary-text);
}

.icon-group-links ic-link {
  display: table;
  font-size: 0.875rem;
}

.panel {
  display: flex;
  flex-wrap: wrap;
}

ic-typography[data-class="heading"] {
  margin: var(--ic-space-sm);
}

.icon {
  flex: 1;
  flex-basis: 28%;
  flex-shrink: 0;
  border-radius: var(--ic-border-radius);
  width: 9.375rem;
  height: 6.25rem;
  margin: 0.625rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--ic-architectural-300);
  color: inherit;
  transition: var(--ic-easing-transition-fast);
}

ic-typography[data-class="icon-label"] {
  margin: var(--ic-space-sm) 0 0 0;
}

ic-typography[data-class="icon-caption"] {
  margin: 0 0 0 0;
  font-weight: 400 !important;
  color: var(--ic-color-secondary-text);
  max-width: 100%;
}

.hidden {
  display: none;
}
