.attribute-cards {
  border: 1px solid var(--ic-architectural-300);
  border-radius: var(--ic-border-radius);
  max-width: 90vw;
  display: none;
}

.attribute-cards-cell {
  padding: 0;
}

.attribute-cards-cell:last-child {
  padding-right: 0;
}

.attribute-cards-cell:first-child {
  padding-left: 0;
}

.attribute-cards-row {
  display: table-row;
}

.attribute-cards-row:last-child > td {
  border-bottom: none;
}

.attribute-cards-cell ic-typography {
  padding: var(--ic-space-md) !important;
}

.attribute-cards-cell .ic-typography-caption {
  margin: 0 0 var(--ic-space-md) var(--ic-space-md);
}

@media screen and (max-width: 576px) {
  .attribute-cards {
    display: block;
  }
}
