.attribute-cards {
  border: 1px solid var(--ic-color-border-neutral-default);
  border-radius: var(--ic-border-radius);
  max-width: 90vw;
  display: none;
}

.ic-theme-dark .attribute-cards {
  border: 1px solid var(--ic-color-border-neutral-white);
}

.attribute-cards-cell {
  padding: var(--ic-space-md) !important;
  display: flex;
  flex-direction: column;
  gap: var(--ic-space-lg);
}

.attribute-cards-row {
  display: table-row;
}

.attribute-cards-row:last-child > td {
  border-bottom: none;
}

@media screen and (max-width: 992px) {
  .attribute-cards {
    display: block;
  }
}
