.side-nav {
  grid-area: sidenav;
  width: 16rem;
}

.nav {
  position: sticky;
  top: 180px;
}

.contents-header {
  color: var(--table-of-contents-label);
}

.nav-link {
  padding: var(--ic-space-xs) var(--ic-space-md);
  margin: 0;
  color: var(--table-of-contents-text) !important;
  transition: var(--ic-easing-transition-fast);
  text-decoration: none !important;
}

.nav-link:hover {
  background-color: var(--table-of-contents-hover);
}

.nav-link:active {
  background-color: var(--table-of-contents-pressed);
}

.nav-link:focus {
  box-shadow: var(--ic-border-focus-inset);
  border-radius: var(--ic-border-radius-inset);
  outline: var(--ic-hc-focus-outline);
}

.active-nav-link {
  padding: var(--ic-space-xs) var(--ic-space-md) var(--ic-space-xs) var(--ic-space-xs);
  margin: 0 0 0 var(--ic-space-xs);
}

.nav-item-list {
  list-style: none;
  margin: 0;
  border-left: 0.063rem solid var(--ic-architectural-300);
}

.nav-list-item {
  padding: 0;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
}

.active-nav-list-item {
  position: relative;
}

.active-nav-list-item::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  content: " ";
  display: block;
  width: var(--ic-space-xs);
  background: var(--table-of-contents-banner);
}

@media screen and (max-width: 576px) {
  .contents-header {
    padding-bottom: var(--ic-space-xs);
  }

  .side-nav {
    margin-bottom: var(--ic-space-md);
  }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
  .side-nav {
    margin-bottom: var(--ic-space-lg);
  }
}

@media screen and (min-width: 577px) and (max-width: 1200px) {
  .contents-header {
    padding-bottom: var(--ic-space-md);
  }
}

@media screen and (max-width: 768px) {
  .side-nav {
    width: 100%;
  }
}

@media screen and (min-width: 769px) and (max-width: 1200px) {
  .side-nav {
    margin: auto auto var(--ic-space-lg) 0;
    max-width: 50rem;
    width: calc(100% - var(--ic-space-xl));
  }
}

@media screen and (min-width: 1201px) {
  .contents-header {
    padding: var(--ic-space-md) var(--ic-space-md) var(--ic-space-xs);
  }

  .nav-item-list {
    border-left: none;
    padding-bottom: var(--ic-space-lg);
  }
}

@media (forced-colors: active) {
  .nav-link:focus {
    border-radius: var(--ic-border-radius);
    z-index: 1;
  }

  .active-nav-list-item::before {
    background-color: canvastext;
  }
}
