.tree-view-container {
  visibility: visible;
}

#nav-section-button {
  display: none;
  z-index: 1;
}

.small-only-open {
  margin-bottom: var(--ic-space-xs);
}

.large-only {
  display: block;
}

.menu-chevron {
  transition: var(--ic-easing-transition-slow);
}

.menu-chevron-flipped {
  transform: rotateX(180deg);
}

.button {
  margin-top: calc(-1 * var(--ic-space-xxxs));
}

.chevron {
  color: var(--ic-action-default) !important;
  transition: transform var(--ic-easing-transition-slow);
  position: relative;
  margin-left: 0.375rem;
  margin-right: 0.563rem;
  font-size: 1.25em !important;
}

.chevron-flip {
  transform: rotateX(180deg);
}

.scroll {
  width: auto;
  overflow-y: auto;
}

@media screen and (max-width: 768px) {
  #nav-section-button {
    display: flex;
  }

  .large-only {
    display: none;
  }

  .small-only {
    display: block;
    visibility: visible;
  }
}

@media (forced-colors: active) {
  .chevron {
    color: linktext !important;
  }
}
