.prop-description {
  display: flex;
  flex-direction: column;
  gap: var(--ic-space-xs);
}

.prop-description .ic-typography-subtitle-small::before {
  color: var(--ic-status-error);
  content: "*";
}
