.form {
  padding: 1.25rem;
}

.text-field {
  padding-top: var(--ic-space-md) !important;
}

.button-row ic-button {
  margin: var(--ic-space-sm) 0 var(--ic-space-sm) var(--ic-space-sm);
}

.button-row {
  display: flex;
  justify-content: flex-end;
}

@media screen and (max-width: 768px) {
 .button-row {
    display: block;
  }
  .form {
    padding: 0;
  }
}