name: Add new Issues and PRs to project

on:
  issues:
    types:
      - opened
  pull_request:
    types:
      - opened

jobs:
  add-to-project:
    name: Add to project
    runs-on: ubuntu-latest
    steps:
      - name: Generate token
        id: generate_token
        uses: tibdex/github-app-token@36464acb844fc53b9b8b2401da68844f6b05ebb0
        with:
          app_id: ${{ secrets.ADD_TO_PROJECTS_APP_ID }}
          private_key: ${{ secrets.ADD_TO_PROJECTS_APP_PEM }}

      - name: Add to project
        uses: actions/add-to-project@v0.3.0
        with:
          project-url: https://github.com/orgs/mi6/projects/2
          github-token: ${{ steps.generate_token.outputs.token }}
          labeled: dependencies
          label-operator: NOT
