name: Branches
permissions: read-all

on:
  workflow_dispatch:
  push:
    branches:
      - "develop"
      - "v2.0.0/develop"
  pull_request:
    types: [opened, reopened, edited, synchronize]

concurrency:
  group: ci-${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  ic-design-system-static-analysis-tests:
    name: "Static Analysis Tests"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 #v3
      - uses: actions/setup-node@1a4442cacd436585916779262731d5b162bc6ec7 #v3
        with:
          node-version: 18

      - name: Install dependencies
        run: |
          npm ci --legacy-peer-deps

      - name: Lint site
        run: |
          npm run lint

      - name: Audit
        run: npm run audit

  ic-design-system-deploy:
    needs: [ic-design-system-static-analysis-tests]
    if: ${{ github.event.pull_request.head.repo.full_name == github.repository || github.event_name == 'workflow_dispatch' || github.event_name == 'push' }}
    name: "Deploy"
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 #v3
        with:
          lfs: true
      - uses: actions/setup-node@1a4442cacd436585916779262731d5b162bc6ec7 #v3
        with:
          node-version: 18

      - name: Extract branch name
        run: echo "branch=${GITHUB_HEAD_REF:-${GITHUB_REF#refs/heads/}}" >> $GITHUB_OUTPUT
        id: extract_branch

      - name: Build
        run: |
          BRANCH=${{ steps.extract_branch.outputs.branch }}
          export ICDS_PREFIX=/ic-design-system-githubpages/branches/$BRANCH
          npm ci --legacy-peer-deps
          echo GATSBY_MTM_DOMAIN=${{ secrets.GATSBY_MTM_DOMAIN_DEV }} >> .env.production
          echo GATSBY_MTM_SITE_ID=${{ secrets.GATSBY_MTM_SITE_ID_DEV }} >> .env.production
          echo GATSBY_GOOGLE_SEARCH_TOKEN=${{ secrets.GOOGLE_SEARCH_TOKEN }} >> .env.production
          npm run build:prefixed

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@65b5dfd4f5bcd3a7403bbc2959c144256167464e #v4
        if: ${{ steps.extract_branch.outputs.branch != 'v2.0.0/main' }}
        with:
          repository-name: mi6/ic-design-system-githubpages
          folder: ./public
          target-folder: ./branches/${{ steps.extract_branch.outputs.branch }}
          token: ${{ secrets.IC_DESIGN_SYSTEM_QA }}
