name: Branches

on:
  push:
    branches-ignore:
      - main
      - gh-pages

  pull_request:
    types: [opened, reopened, edited]

concurrency:
  group: ci-${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  ci-check:
    name: "CI Check"
    runs-on: ubuntu-latest
    outputs:
      should_skip: ${{ steps.skip_check.outputs.should_skip }}
    steps:
      - id: skip_check
        uses: fkirc/skip-duplicate-actions@v5
        with:
          concurrent_skipping: "same_content_newer"

  ic-design-system-static-analysis-tests:
    needs: ci-check
    if: needs.ci-check.outputs.should_skip != 'true'
    name: "Static Analysis Tests"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 14

      - name: Install dependencies
        run: |
          npm ci --legacy-peer-deps

      - name: Lint site
        run: |
          npm run lint

      - name: Audit
        run: npm run audit

  ic-design-system-deploy:
    needs: [ic-design-system-static-analysis-tests]
    if: github.repository_owner == 'mi6'
    name: "Deploy"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          lfs: true
      - uses: actions/setup-node@v3
        with:
          node-version: 14
      - name: Build
        run: |
          BRANCH=${{ github.ref_name }}
          export ICDS_PREFIX=/branches/$BRANCH
          npm ci --legacy-peer-deps
          npm config set ic-design-system:icdsprefix $ICDS_PREFIX
          npm config list
          echo GATSBY_GA_TRACKING_ID=${{ secrets.GA_TRACKING_ID_DEV }} >> .env.production
          echo GATSBY_GOOGLE_SEARCH_TOKEN=${{ secrets.GOOGLE_SEARCH_TOKEN }} >> .env.production
          npm run build:prefixed

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          repository-name: mi6/ic-design-system-githubpages
          folder: ./public
          target-folder: ./branches/${{ github.ref_name }}
          token: ${{ secrets.IC_DESIGN_SYSTEM_QA }}
