name: Release
permissions: read-all

on:
  pull_request:
    branches:
      - develop
    types: [closed]

jobs:
  create-pr:
    if: github.event.pull_request.head.ref == 'check-versions' && github.event.pull_request.merged == true
    name: "Create PR"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 #v3
      - uses: actions/setup-node@1a4442cacd436585916779262731d5b162bc6ec7 #v3
        with:
          node-version: 16
      - uses: browser-actions/setup-chrome@latest
      - name: Delete check-versions
        uses: SvanBoxel/delete-merged-branch@main
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Create develop -> main PR
        run: |
          curl -L -X POST -H "Accept: application/vnd.github+json" -H "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" -H "X-GitHub-Api-Version: 2022-11-28" "https://api.github.com/repos/mi6/ic-design-system/pulls" -d '{"title":"Develop -> Main","body":"Latest updates with latest package versions","head":"develop","base":"main"}'
